* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("images/desktopBackground.svg");
    background-color: hsl(225, 100%, 94%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100%;
}

#section1 {
    background-color: #fff;
    margin: auto;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 100px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 16px 16px -2px rgba(176,182,215,0.75);
    -webkit-box-shadow: 2px 16px 16px -2px rgba(176,182,215,0.75);
    -moz-box-shadow: 2px 16px 16px -2px rgba(176,182,215,0.75);
}

.hero-image {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: auto;
}

.section2 h1 {
    padding: 25px 0px 15px 0px;
    color: hsl(223, 47%, 23%);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 26px;
}

.section2 p {
    padding: 0px 50px;
    color: hsl(224, 23%, 55%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.section3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    margin: 25px 40px;
    padding: 15px 20px;
    border-radius: 10px;
    
}

.change-plan {
    flex: 1;
}

.plan {
    margin: 0px 80px 0px 15px;
}

.plan h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    color: hsl(223, 47%, 23%);
    font-weight: 700;
}

.plan h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}

.change-plan {
    color: hsl(245, 75%, 52%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.change-plan:active,
.change-plan:hover {
    color: hsl(245, 75%, 52%);
    opacity: 0.8;
}

.section4 {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    margin-top: 30px;
}


#proceed {
    padding: 10px 30px;
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
    background-color: hsl(245, 75%, 52%);
    font-size: 14px;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: 1px 8px 13px -2px rgba(150,154,166,0.75);
    -webkit-box-shadow: 1px 8px 13px -2px rgba(150,154,166,0.75);
    -moz-box-shadow: 1px 8px 13px -2px rgba(150,154,166,0.75);
    cursor: pointer;
}

#proceed:active,
#proceed:hover {
    opacity: 0.8;
}

#cancel {
    padding: 10px 30px;
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(224, 23%, 55%);
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    border: transparent;
    margin-bottom: 20px;
    cursor: pointer;
}

#cancel:active,
#cancel:hover {
    color: hsl(223, 47%, 23%);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a {
    color: hsl(228, 45%, 44%); 
}


@media (max-width:375px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        background: url("images/desktopBackground.svg");
        background-color: hsl(225, 100%, 94%);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }
    
    #section1 {
        background-color: #fff;
        margin: auto;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 100px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 2px 16px 16px -2px rgba(176,182,215,0.75);
        -webkit-box-shadow: 2px 16px 16px -2px rgba(176,182,215,0.75);
        -moz-box-shadow: 2px 16px 16px -2px rgba(176,182,215,0.75);
    }
    
    .hero-image {
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: auto;
    }
    
    .section2 h1 {
        padding: 25px 0px 15px 0px;
        color: hsl(223, 47%, 23%);
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 900;
        font-size: 24px;
    }
    
    .section2 p {
        padding: 0px 40px;
        color: hsl(224, 23%, 55%);
        font-family: 'Red Hat Display', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }
    
    .section3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: hsl(225, 100%, 98%);
        margin: 25px;
        padding: 15px;
        border-radius: 10px;
        
    }
    
    
    .plan {
        margin: 0px 40px 0px 15px;
    }
    
    .plan h2 {
        font-family: 'Red Hat Display', sans-serif;
        font-size: 14px;
        color: hsl(223, 47%, 23%);
        font-weight: 700;
    }
    
    .plan h3 {
        font-family: 'Red Hat Display', sans-serif;
        font-size: 13px;
        color: hsl(224, 23%, 55%);
        font-weight: 700;
    }
    
    .change-plan {
        color: hsl(245, 75%, 52%);
        font-family: 'Red Hat Display', sans-serif;
        font-size: 13px;
        font-weight: 700;
    }
    
    .change-plan:active,
    .change-plan:hover {
        color: hsl(245, 75%, 52%);
        opacity: 0.8;
    }
    
    .section4 {
        display: flex;
        flex-direction: column;
        padding: 0px 30px;
        margin-top: 30px;
    }
    
    
    #proceed {
        padding: 10px 30px;
        font-family: 'Red Hat Display', sans-serif;
        color: #fff;
        background-color: hsl(245, 75%, 52%);
        font-size: 14px;
        font-weight: 700;
        border: 1px solid transparent;
        border-radius: 10px;
        margin: 10px 0px;
        box-shadow: 1px 8px 13px -2px rgba(150,154,166,0.75);
        -webkit-box-shadow: 1px 8px 13px -2px rgba(150,154,166,0.75);
        -moz-box-shadow: 1px 8px 13px -2px rgba(150,154,166,0.75);
        cursor: pointer;
    }
    
    #proceed:active,
    #proceed:hover {
        opacity: 0.8;
    }
    
    #cancel {
        padding: 10px 30px;
        font-family: 'Red Hat Display', sans-serif;
        color: hsl(224, 23%, 55%);
        font-size: 14px;
        font-weight: 700;
        background-color: transparent;
        border: transparent;
        margin-bottom: 20px;
        cursor: pointer;
    }
    
    #cancel:active,
    #cancel:hover {
        color: hsl(223, 47%, 23%);
    }
    
    
    
    .attribution { font-size: 11px; text-align: center; }
    .attribution a {
        color: hsl(228, 45%, 44%); 
    }
}

@media (min-width: 1440px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        background: url("images/desktopBackground.svg");
        background-color: hsl(225, 100%, 94%);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        width: 100%;
    }
    
    #section1 {
        background-color: #fff;
        margin: auto;
        width: 30%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 100px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 2px 16px 16px -2px rgba(176,182,215,0.75);
        -webkit-box-shadow: 2px 16px 16px -2px rgba(176,182,215,0.75);
        -moz-box-shadow: 2px 16px 16px -2px rgba(176,182,215,0.75);
    }
    
    .hero-image {
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: auto;
    }
    
    .section2 h1 {
        padding: 25px 0px 15px 0px;
        color: hsl(223, 47%, 23%);
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 900;
        font-size: 26px;
    }
    
    .section2 p {
        padding: 0px 50px;
        color: hsl(224, 23%, 55%);
        font-family: 'Red Hat Display', sans-serif;
        font-size: 16px;
        font-weight: 500;
    }
    
    .section3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: hsl(225, 100%, 98%);
        margin: 25px 40px;
        padding: 15px 20px;
        border-radius: 10px;
        
    }
    
    .change-plan {
        flex: 1;
    }
    
    .plan {
        margin: 0px 80px 0px 15px;
    }
    
    .plan h2 {
        font-family: 'Red Hat Display', sans-serif;
        font-size: 16px;
        color: hsl(223, 47%, 23%);
        font-weight: 700;
    }
    
    .plan h3 {
        font-family: 'Red Hat Display', sans-serif;
        font-size: 15px;
        color: hsl(224, 23%, 55%);
        font-weight: 700;
    }
    
    .change-plan {
        color: hsl(245, 75%, 52%);
        font-family: 'Red Hat Display', sans-serif;
        font-size: 14px;
        font-weight: 700;
    }
    
    .change-plan:active,
    .change-plan:hover {
        color: hsl(245, 75%, 52%);
        opacity: 0.8;
    }
    
    .section4 {
        display: flex;
        flex-direction: column;
        padding: 0px 40px;
        margin-top: 30px;
    }
    
    
    #proceed {
        padding: 10px 30px;
        font-family: 'Red Hat Display', sans-serif;
        color: #fff;
        background-color: hsl(245, 75%, 52%);
        font-size: 14px;
        font-weight: 700;
        border: 1px solid transparent;
        border-radius: 10px;
        margin: 10px 0px;
        box-shadow: 1px 8px 13px -2px rgba(150,154,166,0.75);
        -webkit-box-shadow: 1px 8px 13px -2px rgba(150,154,166,0.75);
        -moz-box-shadow: 1px 8px 13px -2px rgba(150,154,166,0.75);
        cursor: pointer;
    }
    
    #proceed:active,
    #proceed:hover {
        opacity: 0.8;
    }
    
    #cancel {
        padding: 10px 30px;
        font-family: 'Red Hat Display', sans-serif;
        color: hsl(224, 23%, 55%);
        font-size: 14px;
        font-weight: 700;
        background-color: transparent;
        border: transparent;
        margin-bottom: 20px;
        cursor: pointer;
    }
    
    #cancel:active,
    #cancel:hover {
        color: hsl(223, 47%, 23%);
    }
    
    
    
    .attribution { font-size: 11px; text-align: center; }
    .attribution a {
        color: hsl(228, 45%, 44%); 
    }
}